body {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: #FAFAFA;
}
#all {
   margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
    padding-left:26px;
    padding-right:26px;
}
a {
    text-decoration: none;
    font-family: 'Montserrat',sans-serif;
}
#fixdes {
    width:90%;
    margin-left:auto;
    margin-right:auto;
}
#bar {
    width: 100%;
    height: 72px;
    display: inline-block ;
}
#barcs {
    width: 100%;
    height: 72px;
    display: inline-block ;
      border-bottom: 1px solid #e7e7e7;
}
#bar2 {
    width: 100%;
    height: 72px;
    display: inline-block;
}
#csinfo {
    width: 100%;
    border: 2px solid rgb(0, 132, 218);
    height: 200px;
    max-width: 1024px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    margin-top: 36px;
}
#csinfoleft {
    width: 49.9%;
    float: left;
    border-right: 1px solid #E0E0E0;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
#csinforight {
    width: 50%;
    float: right;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
#projectdescription {
  opacity: 0.5;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
}
#projectdescriptiont {
  color: black;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  max-width: 600px;
  /* margin-bottom: 100px; */
  margin-top: -16px;
}
#projecttext {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    color: #b9b7b7;
    font-weight: 500;
    line-height: 2.75;
    text-align: left;
    letter-spacing: 1.6px;
}
table.tg {
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    line-height: 36px;
    padding-left: 24px;
    padding-right: 24px;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    /* line-height: 24px; */
}
.question {
    text-align: left;
    opacity: 0.4;
    font-size: 16px;
}
.answer {
    text-align: right;
    font-size: 18px;
    font-weight: 500;
}
#projecttextcs {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    color: #b9b7b7;
    font-weight: 500;
    line-height: 2.75;
    text-align: center;
    letter-spacing: 1.6px;
}
#showcase {
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 64px;
}
#projecttextlink {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    color: #2E69FF;
    font-weight: 500;
    margin-top: -45px;
    text-align: right;
}
#projecttextlinkcs {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    color: #2E69FF;
    font-weight: 500;
    margin-top: -45px;
    margin-right: 24px;
    text-align: left;
}
#site {
    top: 0;
}
#full {
    width: 100%;
    height: 650px;
}
#title {
    margin-left: 38px;
    font-weight: 400;
}
#titlecs {font-weight: 600;font-size: 20px;margin-top: -29px;}
#textwrap {
    width: 1230px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}
#textwrapcs {
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}
#sincetext {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    position: relative;
    top: 50%;
    transform: translateY(-70%);
    font-size: 48px;
    font-weight: 400;
}
#since {
    width: 100%;
    height: 350px;
    background-image: url('bgsection.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    display: inline-block;
    margin-top: 36px;
    border-top: 1px solid #CDCDCD;
}
#sincecs1 {
    width: 100%;
    height: 350px;
    background-image: url('cs1bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    display: inline-block;
    margin-top: 36px;
    border-top: 1px solid #CDCDCD;
}
#header {
    width: 100%;
    height: 99vh;
    background-color: white;
    z-index: 2;
    background-image: url('bgnew.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: inline-block ;
    border-bottom: 1px solid #CDCDCD;
}

#headercs1 {
    width: 100%;
    height: 99vh;
    background-color: white;
    z-index: 2;
    background-image: url('cs2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-bottom: 1px solid #e7e7e7;
}
#nav {
    width: 100%;
    top: 0;
    z-index: 3;
    min-height: 72px;
    position: absolute;
}
#line {
    width: 100%;
    height: 2px;
    background-color: #2E69FF;
}
#linecs1 {
    width: 100%;
    height: 2px;
    background-color: #0084DA;
}
#text {
    position: relative;
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: left;
    vertical-align: middle;
    top: 55%;
    transform: translateY(-50%);
    width: 750px;
}
#cslogo {
    margin-left: auto;
    margin-right: auto;
    height: 128px;
}
#textcs {
    position: relative;
    font-size: 21px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    top: 57%;
    line-height: 1.75;
    transform: translateY(-65%);
    margin-right: auto;
    margin-left: auto;
}
.project {
    width: 50%;
    height: 475px;
    padding-top: 36px;
    overflow: hidden;
    float: left;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 500;
    text-align: center;
    font-size: 20px;
}
#projectlogo {
    height: 64px;
    width: 168px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#projectimage {
    width: 551px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 21px;
}
#projectimagefull {
    width: 1102px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 15px;
}
#description {
    width: 375px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.65;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-top: -10px;
}
p {
    font-family: 'Montserrat', serif;
    font-size: 14px;
    color: white;
    text-align: center;
    text-transform: ;
}
h1 {
    font-weight: 600;
}
.imageani {
    transition: all .2s ease-in-out;
}
.imageani:hover {
    transform: scale(1.02);
}
#showcaseimg {
          width: 1150px;}

@media screen and (max-width: 1024px) {
    #headercs1 {
        height: auto;
        overflow: auto;
    }
    #projectdescriptiont {
        /* width: 100%; */
        max-width: none;
    }
    table.tg {
        width: 90%;
        top: 0;
        transform: none;
        padding-top: 18px;
        padding-bottom: 18px;
        padding-left: 0;
        padding-right: 0;
    }
    #fixdes {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    #csinfoleft {
        width: 100%;
        float: none;
        border-bottom: 1px solid #e7e7e7;
        border-right: none;
    }
    #csinforight {
        width: 95%;
        float: none;
    }
    #csinfo {
        height: auto;
    }
    .project {
        z-index: -1;
        width: 100%;
        height: auto;
        padding-top: 30px;
        overflow: hidden;
        float: none;
        margin-left: auto !important;
        margin-right: auto;
    }
    #left {
        margin-left: 0px;
    }
    #full {
        height: auto;
    }
    #nav {
        margin-left: auto;
        margin-right: auto;
    }
    #textwrap {
        width: 95%;
    }
    #title {
        margin-left:21px;
        margin-top:-18px!important;
        font-weight:500!important;
    }
    #sincetext {
        font-size: 24px;
        width: 95%;
    }
    .transition {
        -webkit-transition: all 1s ease-in-out;
	      -moz-transition: all 1s ease-in-out;
	      -o-transition: all 1s ease-in-out;
	      transition: all 1s ease-in-out;
    }
    .bg {
  background: #000;
  width: 100%;
  height: 100px;
  opacity: 0;
}

.show {
  opacity: 0.4;
}
    #text {
        margin-left: auto;
        margin-right: auto;
        width: 95%;
        font-size: 16px;
        top: 52%;
        font-weight: 500!important;
    }
    #projectimage {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: 15px;
    }
    #projectimagefull {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: 15px;
    }
    #textwrapcs {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        height: 100%;
        padding-bottom: 24px;
    }
    #textcs {
        /* width: 400px; */
        transform: none;
        margin-top: 75px;
    }
    #titlecs {
        font-size: 15px;
    }
    #bigtitlecs {
        font-size: 32px;
        margin-bottom: 26px;
    }
    #cslogo {
        height: 100px;
    }
}


@media screen and (max-width: 1140px) {

  #showcaseimg {
            width: 100%;}
            #showcase {
                width: 95%;
                margin-left: auto;
                margin-right: auto;
                margin-top: 64px;
            }


}
}


}
}


}
}


}
